# 1) Write a python program to display all the header tags from wikipedia.org.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get('https://en.wikipedia.org')

In [3]:
page

In [4]:
soup=BeautifulSoup(page.content)

In [6]:
header=soup.find('h1',class_="firstHeading")

In [7]:
header.text

'Main Page'

In [8]:
header_list=[]

for header in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    header_list.append(header.name+" "+header.text.strip())

In [9]:
header_list

['h1 Main Page',
 'h1 Welcome to Wikipedia',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 From today's featured list",
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Personal tools',
 'h3 Namespaces',
 'h3 Views',
 'h3 Search',
 'h3 Navigation',
 'h3 Contribute',
 'h3 Tools',
 'h3 Print/export',
 'h3 In other projects',
 'h3 Languages']



# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [10]:
pg2=requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")

In [11]:
pg2

In [12]:
soup2=BeautifulSoup(pg2.content,'html.parser')

In [13]:
movie_tag=soup2.find('td',  class_='titleColumn')
movie_title=movie_tag.find('a')

In [15]:
movie_title=[]
movie_year=[]
movie_rating=[]
num=0
for i in soup2.find_all('td',  class_='titleColumn'):
    title=i.find('a')
    movie_title.append(title.text)
    y=i.find('span', class_='secondaryInfo')
    a=y.text.replace('(','')
    movie_year.append(a.replace(')','')) 
    num=num+1
    if num==100:
        break
num=0
for i in soup2.find_all('td', class_='ratingColumn imdbRating'):
    rating=i.find('strong')
    movie_rating.append(rating.text)
    num=num+1
    if num==100:
        break

In [16]:
print(len(movie_title),len(movie_year),len(movie_rating))

100 100 100

In [17]:
import pandas as pd

In [18]:
df=pd.DataFrame({'Movie Title':movie_title,'Rating':movie_rating,'Year of release':movie_year})
df

                          Movie Title Rating Year of release
0            The Shawshank Redemption    9.2            1994
1                       The Godfather    9.2            1972
2                     The Dark Knight    9.0            2008
3               The Godfather Part II    9.0            1974
4                        12 Angry Men    8.9            1957
..                                ...    ...             ...
95                             Jagten    8.3            2012
96  M - Eine Stadt sucht einen Mörder    8.3            1931
97                 North by Northwest    8.3            1959
98                            Vertigo    8.2            1958
99                       Idi i smotri    8.2            1985

[100 rows x 3 columns]



# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame.

In [19]:
pg3=requests.get("https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=JC8DKTDE2R9YQTMZTA54&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_sm")

In [20]:
soup3=BeautifulSoup(pg3.content,'html.parser')

In [21]:
movie_title=[]
movie_year=[]
movie_rating=[]
num=0
for i in soup3.find_all('td',  class_='titleColumn'):
    title=i.find('a')
    movie_title.append(title.text)
    y=i.find('span', class_='secondaryInfo')
    a=y.text.replace('(','')
    movie_year.append(a.replace(')','')) 
    num=num+1
    if num==100:
        break
num=0
for i in soup3.find_all('td', class_='ratingColumn imdbRating'):
    rating=i.find('strong')
    movie_rating.append(rating.text)
    num=num+1
    if num==100:
        break

In [22]:
print(len(movie_title),len(movie_year),len(movie_rating))

100 100 100

In [23]:
df=pd.DataFrame({'Movie Title':movie_title,'Rating':movie_rating,'Year of release':movie_year})
df

                    Movie Title Rating Year of release
0    Rocketry: The Nambi Effect    8.5            2022
1                    Anbe Sivam    8.4            2003
2                       Golmaal    8.4            1979
3                      Jai Bhim    8.4            2021
4                       Nayakan    8.4            1987
..                          ...    ...             ...
95              Rang De Basanti    8.0            2006
96                       Baasha    8.0            1995
97  Baahubali 2: The Conclusion    8.0            2017
98                       Masaan    8.0            2015
99                      Kahaani    8.0            2012

[100 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [30]:
pg4=requests.get("https://presidentofindia.nic.in/former-presidents.htm")

In [31]:
pg4

In [32]:
soup4=BeautifulSoup(pg4.content,'html.parser')

In [43]:
pname=[]
tof=[]

for i in soup4.find_all('div', class_='presidentListing'):
    name=i.find('h3')
    pname.append(name.text.split('(')[0])
    term=i.find('p')
    tof.append(term.text.split(':')[1])

In [45]:
df=pd.DataFrame({'Presidents Name':pname,'Term of office':tof})
df

,Presidents Name,Term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [46]:
pg5a=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [47]:
pg5a

In [48]:
soup5a=BeautifulSoup(pg5a.content,'html.parser')

In [49]:
cname=[]
matches=[]
points=[]
rating=[]

matches.append(soup5a.find('td', class_='rankings-block__banner--matches').text)
points.append(soup5a.find('td', class_='rankings-block__banner--points').text)
rating.append(soup5a.find('td', class_='rankings-block__banner--rating u-text-right').text.strip())

num=0
for i in soup5a.find_all('span',class_='u-hide-phablet'):
    cname.append(i.text)
    num=num+1
    if num==10:
        break
num=2
for i in soup5a.find_all('td', class_='table-body__cell u-center-text'):
    if(num%2==0):
        matches.append(i.text)
    else:
        points.append(i.text)
    num=num+1
    if num==20:
        break

num=1
for i in soup5a.find_all('td', class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
    num=num+1
    if num==10:
        break

In [50]:
df=pd.DataFrame({'Country Name':cname,'Matches':matches,'Points':points,'Rating':rating})
df

   Country Name Matches Points Rating
0   New Zealand      16  2,051    128
1       England      27  3,226    119
2         India      28  3,085    110
3      Pakistan      19  2,005    106
4     Australia      23  2,325    101
5  South Africa      21  2,111    101
6    Bangladesh      27  2,639     98
7     Sri Lanka      29  2,658     92
8   West Indies      38  2,621     69
9   Afghanistan      18  1,238     69

In [51]:
pg5b=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [52]:
soup5b=BeautifulSoup(pg5b.content,'html.parser')

In [53]:
bat_name=[]
bat_team=[]
bat_rating=[]
bow_name=[]
bow_team=[]
bow_rating=[]

num=0
for i in soup5b.find_all('div', class_='rankings-block__banner--name'):
    if num==0:
        bat_name.append(i.text)
    if num==1:
        bow_name.append(i.text)
    num=num+1
num=0
for i in soup5b.find_all('div', class_='rankings-block__banner--nationality'):
    if num==0:
        bat_team.append(i.text.split()[0])
    if num==1:
        bow_team.append(i.text.split()[0])
    num=num+1
num=0
for i in soup5b.find_all('div', class_='rankings-block__banner--rating'):
    if num==0:
        bat_rating.append(i.text)
    if num==1:
        bow_rating.append(i.text)
    num=num+1
    

num=1
for i in soup5b.find_all('td',class_='table-body__cell name'):   
    if num<10:
        bat_name.append(i.text.strip())
    else:
        bow_name.append(i.text.strip())
    num=num+1
    if num==19:
        break
num=1
for i in soup5b.find_all('span', class_='table-body__logo-text'):
    if num<10:
        bat_team.append(i.text)
    else:
        bow_team.append(i.text)
    num=num+1
    if num==19:
        break

num=1
for i in soup5b.find_all('td', class_='table-body__cell u-text-right rating'):
    if num<10:
        bat_rating.append(i.text)
    else:
        bow_rating.append(i.text)
    num=num+1
    if num==19:
        break

In [54]:
df=pd.DataFrame({'Player Name':bat_name,'Team':bat_team,'Rating':bat_rating})
df

             Player Name Team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2  Rassie van der Dussen   SA    789
3        Quinton de Kock   SA    784
4            Virat Kohli  IND    767
5           Rohit Sharma  IND    763
6            Ross Taylor   NZ    744
7           David Warner  AUS    737
8         Jonny Bairstow  ENG    732
9            Aaron Finch  AUS    715

In [55]:
df=pd.DataFrame({'Player Name':bow_name,'Team':bow_team,'Rating':bow_rating})
df

        Player Name Team Rating
0       Trent Boult   NZ    697
1    Jasprit Bumrah  IND    682
2    Shaheen Afridi  PAK    681
3    Josh Hazlewood  AUS    679
4  Mujeeb Ur Rahman  AFG    676
5      Mehedi Hasan  BAN    672
6        Matt Henry   NZ    663
7     Mohammad Nabi  AFG    657
8       Rashid Khan  AFG    651
9      Chris Woakes  ENG    640

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [56]:
pg6a=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [57]:
soup6a=BeautifulSoup(pg6a.content,'html.parser')

In [58]:
cname=[]
matches=[]
points=[]
rating=[]

matches.append(soup6a.find('td', class_='rankings-block__banner--matches').text)
points.append(soup6a.find('td', class_='rankings-block__banner--points').text)
rating.append(soup6a.find('td', class_='rankings-block__banner--rating u-text-right').text.strip())

num=0
for i in soup6a.find_all('span',class_='u-hide-phablet'):
    cname.append(i.text)
    num=num+1
    if num==10:
        break
num=2
for i in soup6a.find_all('td', class_='table-body__cell u-center-text'):
    if(num%2==0):
        matches.append(i.text)
    else:
        points.append(i.text)
    num=num+1
    if num==20:
        break

num=1
for i in soup6a.find_all('td', class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
    num=num+1
    if num==10:
        break

In [59]:
df=pd.DataFrame({'Country Name':cname,'Matches':matches,'Points':points,'Rating':rating})
df

   Country Name Matches Points Rating
0     Australia      29  4,837    167
1       England      33  4,046    123
2  South Africa      35  4,157    119
3         India      32  3,219    101
4   New Zealand      31  3,019     97
5   West Indies      30  2,768     92
6    Bangladesh      12    930     78
7      Pakistan      30  1,962     65
8     Sri Lanka      11    495     45
9       Ireland       8    351     44

In [60]:
pg6b=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

In [61]:
soup6b=BeautifulSoup(pg6b.content,'html.parser')

In [62]:
bat_name=[]
bat_team=[]
bat_rating=[]
bow_name=[]
bow_team=[]
bow_rating=[]

num=0
for i in soup6b.find_all('div', class_='rankings-block__banner--name'):
    if num==0:
        bat_name.append(i.text)
    if num==2:
        bow_name.append(i.text)
    num=num+1
num=0
for i in soup6b.find_all('div', class_='rankings-block__banner--nationality'):
    if num==0:
        bat_team.append(i.text.split()[0])
    if num==2:
        bow_team.append(i.text.split()[0])
    num=num+1
num=0
for i in soup6b.find_all('div', class_='rankings-block__banner--rating'):
    if num==0:
        bat_rating.append(i.text)
    if num==2:
        bow_rating.append(i.text)
    num=num+1
    

num=1
for i in soup6b.find_all('td',class_='table-body__cell name'):   
    if num<10:
        bat_name.append(i.text.strip())
    if num>18:
        bow_name.append(i.text.strip())
    num=num+1
    if num==28:
        break
num=1
for i in soup6b.find_all('span', class_='table-body__logo-text'):
    if num<10:
        bat_team.append(i.text)
    if num>18:
        bow_team.append(i.text)
    num=num+1
    if num==28:
        break

num=1
for i in soup6b.find_all('td', class_='table-body__cell u-text-right rating'):
    if num<10:
        bat_rating.append(i.text)
    if num>18:
        bow_rating.append(i.text)
    num=num+1
    if num==28:
        break

In [63]:
df=pd.DataFrame({'Player Name':bat_name,'Team':bat_team,'Rating':bat_rating})
df

           Player Name Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2       Natalie Sciver  ENG    747
3      Laura Wolvaardt   SA    732
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6    Amy Satterthwaite   NZ    681
7       Tammy Beaumont  ENG    667
8  Chamari Athapaththu   SL    655
9      Smriti Mandhana  IND    649

In [64]:
df=pd.DataFrame({'Player Name':bow_name,'Team':bow_team,'Rating':bow_rating})
df

        Player Name Team Rating
0    Natalie Sciver  ENG    379
1      Ellyse Perry  AUS    374
2    Marizanne Kapp   SA    349
3   Hayley Matthews   WI    339
4       Amelia Kerr   NZ    336
5  Ashleigh Gardner  AUS    270
6     Deepti Sharma  IND    252
7     Jess Jonassen  AUS    246
8   Katherine Brunt  ENG    220
9   Stafanie Taylor   WI    207

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [65]:
pg7=requests.get('https://www.cnbc.com/world/?region=world')

In [66]:
pg7

In [67]:
soup7=BeautifulSoup(pg7.content,'html.parser')

In [86]:
headline=[]
time=[]
link=[]

for i in soup7.find_all('a',class_='LatestNews-headline'):
    headline.append(i.text)
    link.append(i['href'])
for i in soup7.find_all('time',class_='LatestNews-timestamp'):
    time.append(i.text)

for i in soup7.find_all('div',class_='RiverPlusCard-cardLeft'):
    h=i.find('div',class_='RiverHeadline-headline RiverHeadline-hasThumbnail')
    hh=h.find('a')
    headline.append(hh.text)
    link.append(hh['href'])
for i in soup7.find_all('div',class_='RiverPlusCard-cardLeft'):
    try:
        t=i.find('span',class_='RiverByline-datePublished')
        time.append(t.text)
    except:
        time.append('NA')

In [87]:
len(headline)

48

In [97]:
df=pd.DataFrame({'Headline':headline,'Time':time,'Link':link})
df

,Headline,Time,Link
0,Stock futures rise slightly as Wall Street awa...,9 Min Ago,https://www.cnbc.com/2022/08/08/stock-market-f...
1,CNBC in 5 minutes: Here are all the stock call...,1 Hour Ago,https://www.cnbc.com/2022/08/08/cnbc-in-5-minu...
2,Stocks making the biggest moves after hours: N...,1 Hour Ago,https://www.cnbc.com/2022/08/08/stocks-making-...
3,"Novavax cuts 2022 revenue guidance in half, st...",2 Hours Ago,https://www.cnbc.com/2022/08/08/novavax-cuts-2...
4,Jan. 6 committee to depose Pennsylvania GOP gu...,2 Hours Ago,https://www.cnbc.com/2022/08/08/jan-6-riot-pro...
5,How to play the climate and health care packag...,2 Hours Ago,https://www.cnbc.com/2022/08/08/how-to-invest-...
6,This startup backed by Zillow and Intuit co-fo...,2 Hours Ago,https://www.cnbc.com/2022/08/08/fernish-startu...
7,Allbirds 'dramatically' slows pace of new hire...,2 Hours Ago,https://www.cnbc.com/2022/08/08/allbirds-bird-...
8,Economist: Inflation Reduction Act won't curb ...,2 Hours Ago,https://www.cnbc.com/2022/08/08/economist-infl...
9,Carried interest is cut from Inflation Reducti...,3 Hours Ago,https://www.cnbc.com/2022/08/08/what-carried-i...
10,Ex-JPMorgan CEO: Highly successful people get ...,3 Hours Ago,https://www.cnbc.com/2022/08/08/ex-jp-morgan-c...
11,Your iPhone may finally show the battery perce...,3 Hours Ago,https://www.cnbc.com/2022/08/08/apple-iphone-b...
12,Crypto mixing service Tornado Cash blacklisted...,4 Hours Ago,https://www.cnbc.com/2022/08/08/crypto-mixing-...
13,Trump complained generals lacked loyalty Germa...,4 Hours Ago,https://www.cnbc.com/2022/08/08/trump-praised-...
14,Warren Buffett's shopping spree slows down eve...,4 Hours Ago,https://www.cnbc.com/2022/08/08/warren-buffett...
15,JPMorgan says cryptocurrencies 'have found a f...,4 Hours Ago,https://www.cnbc.com/2022/08/08/jpmorgan-says-...
16,Biden authorizes largest yet weapons package f...,4 Hours Ago,https://www.cnbc.com/2022/08/08/us-readies-lar...
17,Boeing Dreamliner deliveries to resume in the ...,5 Hours Ago,https://www.cnbc.com/2022/08/08/boeing-dreamli...
18,Stocks are trying to break out of their summer...,5 Hours Ago,https://www.cnbc.com/2022/08/08/stocks-are-try...
19,3 takeaways from the Investing Club’s ‘Morning...,5 Hours Ago,https://www.cnbc.com/2022/08/08/3-takeaways-fr...
20,Stocks making biggest midday moves: Bed Bath &...,6 Hours Ago,https://www.cnbc.com/2022/08/08/stocks-making-...
21,Expanded health care subsidies remain intact i...,6 Hours Ago,https://www.cnbc.com/2022/08/08/expanded-healt...
22,26-year-old fled violence in Haiti as a child—...,6 Hours Ago,https://www.cnbc.com/2022/08/08/haitian-born-i...
23,Needham's Laura Martin sees two surprising sto...,6 Hours Ago,https://www.cnbc.com/2022/08/08/needham-laura-...
24,'Top Gun: Maverick' just passed 'Titanic' at t...,6 Hours Ago,https://www.cnbc.com/2022/08/08/top-gun-maveri...
25,Banks’ boost from rising rates is waning becau...,6 Hours Ago,https://www.cnbc.com/2022/08/08/banks-boost-fr...
26,Here's a list of 30 companies that will help p...,7 Hours Ago,https://www.cnbc.com/2022/08/08/these-30-compa...
27,Nvidia resets expectations with warning of qua...,7 Hours Ago,https://www.cnbc.com/2022/08/08/nvidia-resets-...
28,Reconciliation bill includes nearly $80 billio...,7 Hours Ago,https://www.cnbc.com/2022/08/08/reconciliation...
29,Biden says he's 'not worried' about China's in...,7 Hours Ago,https://www.cnbc.com/2022/08/08/biden-says-hes...
30,Japanese giant SoftBank dumps its entire stake...,2 hours ago,https://www.cnbc.com/2022/08/08/softbank-sells...
31,,4 hours ago,/pro/
32,'Echoes of the Cold War' as Blinken heads to A...,NA,https://www.cnbc.com/2022/08/08/echoes-of-the-...
33,U.S. approves $1B in military aid to Ukraine; ...,an hour ago,https://www.cnbc.com/2022/08/08/russia-ukraine...
34,"Novavax cuts 2022 revenue guidance in half, st...",31 min ago,https://www.cnbc.com/2022/08/08/novavax-cuts-2...
35,,3 hours ago,/pro/
36,Crypto mixing service Tornado Cash blacklisted...,2 hours ago,https://www.cnbc.com/2022/08/08/crypto-mixing-...
37,This 41-year-old left the U.S. for Bangkok and...,NA,https://www.cnbc.com/2022/08/06/this-digital-n...
38,Dubai wants to become a global tech hub – and ...,NA,https://www.cnbc.com/video/2022/08/08/dubai-is...
39,,6 hours ago,/pro/
40,Deadlock with Russia over Nord Stream gas turb...,NA,https://www.cnbc.com/2022/08/08/russia-gas-sie...
41,Palantir shares fall more than 14% following e...,2 hours ago,https://www.cnbc.com/2022/08/08/palantir-pltr-...
42,The price of a pint is going through the roof....,NA,https://www.cnbc.com/2022/08/05/why-the-price-...
43,SoftBank posts a $21.6 billion quarterly loss ...,NA,https://www.cnbc.com/2022/08/08/softbank-visio...
44,Cash withdrawals in the UK soar as Brits grapp...,NA,https://www.cnbc.com/2022/08/08/uk-cash-withdr...
45,Deadly fire at Cuba oil facility spreads as th...,NA,https://www.cnbc.com/2022/08/08/deadly-fire-at...
46,China announces fresh military drills around T...,NA,https://www.cnbc.com/2022/08/08/china-announce...
47,Video game giants had a miserable second quart...,NA,https://www.cnbc.com/2022/08/08/microsoft-xbox...

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [89]:
pg8=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [90]:
pg8

In [91]:
soup8=BeautifulSoup(pg8.content,'html.parser')

In [95]:
title=[]
author=[]
pdate=[]
url=[]

for i in soup8.find_all('a',class_="sc-5smygv-0 nrDZj"):
    title.append(i.text)
    url.append(i['href'])

for i in soup8.find_all('span',class_='sc-1w3fpd7-0 pgLAT'):
    author.append(i.text)

for i in soup8.find_all('span',class_='sc-1thf9ly-2 bKddwo'):
    pdate.append(i.text)

In [98]:
df=pd.DataFrame({'Title':title,'Author':author,'Published Date':pdate,'Url':url})
df

,Title,Author,Published Date,Url
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [99]:
pg9=requests.get('https://www.dineout.co.in/mumbai-restaurants?search_str=mumbai')

In [100]:
pg9

In [101]:
soup9=BeautifulSoup(pg9.content)

In [102]:
rname=[]
cuisine=[]
location=[]
rating=[]
image_url=[]

for i in soup9.find_all('a',class_='restnt-name ellipsis'):
    rname.append(i.text)
for i in soup9.find_all('span',class_='double-line-ellipsis'):
    cuisine.append(i.text.split("|")[1])
for i in soup9.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)
for i in soup9.find_all('div',class_='img-wrap'):
    rating.append(i.text.strip()[-3:])
for i in soup9.find_all('img',class_='no-img'):
    image_url.append(i['data-src'])

In [103]:
df=pd.DataFrame({'Restaurant Name':rname,'Cuisine':cuisine,'Location':location,'Rating':rating,'Image url':image_url})
df

,Restaurant Name,Cuisine,Location,Rating,Image url
0,Rude Lounge,"North Indian, Fast Food","Supreme Business Park,Powai, Powai",3.6,https://im1.dineout.co.in/images/uploads/resta...
1,Sigree Global Grill,"North Indian, Biryani","Ventura Building,Powai, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,PizzaExpress,"Italian, Pizza, Beverages","Ventura Building,Powai, Powai",4.4,https://im1.dineout.co.in/images/uploads/resta...
3,Green Autobahn,"Goan, North Indian, Bengali, Chettinad","R City Mall,Ghatkopar West, Central Suburbs",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,Lord of the Drinks,"Chinese, European, Asian, North Indian","Powai, Powai",4.2,https://im1.dineout.co.in/images/uploads/resta...
5,Mainland China,"Chinese, Asian, Thai","Hiranandani, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Bombay Martini,"Finger Food, North Indian, Continental","Kailash Towers,Powai, Powai",4,https://im1.dineout.co.in/images/uploads/resta...
7,Urban Tadka,"North Indian, Mughlai","R City Mall,Ghatkopar West, Central Suburbs",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,Khandani Rajdhani,"Gujarati, Rajasthani, North Indian","R City Mall,Ghatkopar West, Central Suburbs",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Cream Centre- Ghatkopar West,"North Indian, Fast Food, Italian, Mexican, Be...","R City Mall,Ghatkopar West, Central Suburbs",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,The Sassy Spoon,"Continental, European","Delphi Building,Powai, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,True Tramm Trunk,Finger Food,"Chandivali, Powai",4.1,https://im1.dineout.co.in/images/uploads/resta...
12,Chili’s American Grill and Bar,"American, Mexican, Tex Mex","Ventura Building,Powai, Powai",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,Kake Da Hotel,"Chinese, North Indian, Biryani","Powai, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,House of Mandarin,Asian,"Delphi Building,Powai, Powai",4.5,https://im1.dineout.co.in/images/uploads/resta...
15,ABs - Absolute Barbecues,North Indian,"Chandivali, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,Fable,"Italian, American, Continental, Fast Food","Chandivali, Powai",4.4,https://im1.dineout.co.in/images/uploads/resta...
17,Thambbi,"South Indian, North Indian","Kailash Business Park,Vikhroli West, Central S...",4.4,https://im1.dineout.co.in/images/uploads/resta...
18,Powai Social,"North Indian, Chinese, American, Continental","Delphi Building,Powai, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Foo,"Chinese, Japanese, Asian","Vikhroli West, Central Suburbs",4.5,https://im1.dineout.co.in/images/uploads/resta...
20,Joshh,Street Food,"Galleria Shopping Centre,Powai, Powai",4.2,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
 iv) h5-median

In [104]:
pg10=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")

In [105]:
pg10

In [106]:
soup10=BeautifulSoup(pg10.content)

In [107]:
rank=[]
publication=[]
h5index=[]
h5median=[]

for i in soup10.find_all('td',class_='gsc_mvt_p'):
    rank.append(i.text)
    
for i in soup10.find_all('td',class_='gsc_mvt_t'):
    publication.append(i.text)
    
for i in soup10.find_all('a',class_='gs_ibl gsc_mp_anchor'):
    h5index.append(i.text)
    
for i in soup10.find_all('span',class_='gs_ibl gsc_mp_anchor'):
    h5median.append(i.text)

In [109]:
df=pd.DataFrame({'Rank':rank,'Publication':publication,'h5-index':h5index,'h5-median':h5median})
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]